In [1]:
import pseudopeople as psp
import pandas as pd

!date
!whoami
!uname -a
!python --version
!pwd

Fri 28 Jul 2023 11:15:54 AM PDT
ndbs
Linux int-slurm-sarchive-p0002 5.4.0-135-generic #152-Ubuntu SMP Wed Nov 23 20:19:22 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
Python 3.10.12
/mnt/share/code/ndbs/vivarium_research_prl/pseudopeople_testing

In [3]:
census = psp.generate_decennial_census()
census

,simulant_id,household_id,first_name,middle_initial,last_name,age,date_of_birth,street_number,street_name,unit_number,city,state,zipcode,relation_to_reference_person,sex,race_ethnicity,year
0,0_2,0_7,Meghan,M,Herrod,25,05/06/1994,10233,north burgher avenue,NaN,Anytown,US,00000,Reference person,Female,White,2020
1,0_3,0_7,Jordan,C,Herrod,25,09/29/1994,10233,north burgher avenue,NaN,Anytown,US,00000,Other relative,Female,White,2020
2,0_923,0_8033,Richard,N,Davis,76,11/03/1943,317,stoneykirk lane,NaN,Anytown,US,00000,Reference person,Male,Black,2020
3,0_2641,0_1066,Karen,T,NaN,61,06/21/1958,9244,grdn blvd,NaN,Anytown,US,00000,Reference person,Female,White,2020
4,0_2801,0_1138,Charles,A,Hawley,73,03/03/1947,12129,arbor rdge dr,NaN,Anytown,US,00000,Reference person,Male,White,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10241,0_18969,0_7630,Elizabeth,B,Nelson,87,01/11/1933,1703,5th street northwest,NaN,Anytown,US,00000,Opp-sex spouse,Female,White,2020
10242,0_19008,0_8361,Charles,K,Davis,58,12/29/1961,1910,sw 216th st,NaN,Anytown,US,00000,Reference person,Male,Black,2020
10243,0_20165,0_7999,Michelle,B,Green,65,04/05/1955,335,greensferry ave sw,NaN,Anytown,US,00000,Reference person,Female,White,2020
10244,0_19020,0_8130,Stella,F,Moody,93,10/02/1926,1017,wood avenue,NaN,Anytown,US,NaN,Reference person,Female,NaN,2020
10245,0_20163,0_7998,Abigail,S,Rawson,27,04/21/1992,62,crescent cir,NaN,Anytown,US,00000,Reference person,Female,White,2020

## Why is year stored as dtype object and why does it take 36 bytes per row?

In [5]:
census.dtypes

simulant_id                       object
household_id                      object
first_name                        object
middle_initial                    object
last_name                         object
age                               object
date_of_birth                     object
street_number                     object
street_name                       object
unit_number                       object
city                              object
state                           category
zipcode                           object
relation_to_reference_person    category
sex                             category
race_ethnicity                  category
year                              object
dtype: object

In [8]:
census.year.unique()

array([2020], dtype=object)

In [9]:
census.loc[0,'year']

2020

In [14]:
census.year.map(type).unique()

array([<class 'int'>], dtype=object)

In [20]:
s = pd.Series(range(100))
s.map(type).unique()

array([<class 'int'>], dtype=object)

In [21]:
s

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [22]:
s.memory_usage(deep=True)/len(s)

9.28

In [11]:
census.memory_usage()

Index                             128
simulant_id                     81968
household_id                    81968
first_name                      81968
middle_initial                  81968
last_name                       81968
age                             81968
date_of_birth                   81968
street_number                   81968
street_name                     81968
unit_number                     81968
city                            81968
state                           12766
zipcode                         81968
relation_to_reference_person    10954
sex                             10370
race_ethnicity                  10602
year                            81968
dtype: int64

In [12]:
census.memory_usage(deep=True)

Index                              128
simulant_id                     650257
household_id                    641817
first_name                      641540
middle_initial                  591774
last_name                       647620
age                             374778
date_of_birth                   683233
street_number                   602758
street_name                     704803
unit_number                     345355
city                            652318
state                            15418
zipcode                         632014
relation_to_reference_person     12149
sex                              10478
race_ethnicity                   10995
year                            368856
dtype: int64

In [15]:
census.memory_usage()/len(census)

Index                           0.012493
simulant_id                     8.000000
household_id                    8.000000
first_name                      8.000000
middle_initial                  8.000000
last_name                       8.000000
age                             8.000000
date_of_birth                   8.000000
street_number                   8.000000
street_name                     8.000000
unit_number                     8.000000
city                            8.000000
state                           1.245950
zipcode                         8.000000
relation_to_reference_person    1.069100
sex                             1.012102
race_ethnicity                  1.034745
year                            8.000000
dtype: float64

In [16]:
census.memory_usage(deep=True)/len(census)

Index                            0.012493
simulant_id                     63.464474
household_id                    62.640738
first_name                      62.613703
middle_initial                  57.756588
last_name                       63.207105
age                             36.577982
date_of_birth                   66.682901
street_number                   58.828616
street_name                     68.788112
unit_number                     33.706324
city                            63.665626
state                            1.504782
zipcode                         61.683974
relation_to_reference_person     1.185731
sex                              1.022643
race_ethnicity                   1.073102
year                            36.000000
dtype: float64

In [23]:
census.astype({'year': int}).memory_usage(deep=True)/len(census)

Index                            0.012493
simulant_id                     63.464474
household_id                    62.640738
first_name                      62.613703
middle_initial                  57.756588
last_name                       63.207105
age                             36.577982
date_of_birth                   66.682901
street_number                   58.828616
street_name                     68.788112
unit_number                     33.706324
city                            63.665626
state                            1.504782
zipcode                         61.683974
relation_to_reference_person     1.185731
sex                              1.022643
race_ethnicity                   1.073102
year                             8.000000
dtype: float64

In [13]:
'a'

'a'

In [4]:
psp.get_config('decennial_census')

{'row_noise': {'do_not_respond': {'row_probability': 0.0145}},
 'column_noise': {'first_name': {'leave_blank': {'cell_probability': 0.01},
   'use_nickname': {'cell_probability': 0.01},
   'use_fake_name': {'cell_probability': 0.01},
   'make_phonetic_errors': {'cell_probability': 0.01,
    'token_probability': 0.1},
   'make_ocr_errors': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_typos': {'cell_probability': 0.01, 'token_probability': 0.1}},
  'middle_initial': {'leave_blank': {'cell_probability': 0.01},
   'make_phonetic_errors': {'cell_probability': 0.01,
    'token_probability': 0.1},
   'make_ocr_errors': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_typos': {'cell_probability': 0.01, 'token_probability': 0.1}},
  'last_name': {'leave_blank': {'cell_probability': 0.01},
   'use_fake_name': {'cell_probability': 0.01},
   'make_phonetic_errors': {'cell_probability': 0.01,
    'token_probability': 0.1},
   'make_ocr_errors': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_typos': {'cell_probability': 0.01, 'token_probability': 0.1}},
  'age': {'leave_blank': {'cell_probability': 0.01},
   'copy_from_household_member': {'cell_probability': 0.01},
   'misreport_age': {'cell_probability': 0.01,
    'possible_age_differences': {-2: 0.1, -1: 0.4, 1: 0.4, 2: 0.1}},
   'make_ocr_errors': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_typos': {'cell_probability': 0.01, 'token_probability': 0.1}},
  'date_of_birth': {'leave_blank': {'cell_probability': 0.01},
   'copy_from_household_member': {'cell_probability': 0.01},
   'swap_month_and_day': {'cell_probability': 0.01},
   'write_wrong_digits': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_ocr_errors': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_typos': {'cell_probability': 0.01, 'token_probability': 0.1}},
  'street_number': {'leave_blank': {'cell_probability': 0.01},
   'write_wrong_digits': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_ocr_errors': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_typos': {'cell_probability': 0.01, 'token_probability': 0.1}},
  'street_name': {'leave_blank': {'cell_probability': 0.01},
   'make_phonetic_errors': {'cell_probability': 0.01,
    'token_probability': 0.1},
   'make_ocr_errors': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_typos': {'cell_probability': 0.01, 'token_probability': 0.1}},
  'unit_number': {'leave_blank': {'cell_probability': 0.01},
   'write_wrong_digits': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_ocr_errors': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_typos': {'cell_probability': 0.01, 'token_probability': 0.1}},
  'city': {'leave_blank': {'cell_probability': 0.01},
   'make_phonetic_errors': {'cell_probability': 0.01,
    'token_probability': 0.1},
   'make_ocr_errors': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_typos': {'cell_probability': 0.01, 'token_probability': 0.1}},
  'state': {'leave_blank': {'cell_probability': 0.01},
   'choose_wrong_option': {'cell_probability': 0.01}},
  'zipcode': {'leave_blank': {'cell_probability': 0.01},
   'write_wrong_zipcode_digits': {'cell_probability': 0.01,
    'digit_probabilities': [0.04, 0.04, 0.2, 0.36, 0.36]},
   'make_ocr_errors': {'cell_probability': 0.01, 'token_probability': 0.1},
   'make_typos': {'cell_probability': 0.01, 'token_probability': 0.1}},
  'relation_to_reference_person': {'leave_blank': {'cell_probability': 0.01},
   'choose_wrong_option': {'cell_probability': 0.01}},
  'sex': {'leave_blank': {'cell_probability': 0.01},
   'choose_wrong_option': {'cell_probability': 0.01}},
  'race_ethnicity': {'leave_blank': {'cell_probability': 0.01},
   'choose_wrong_option': {'cell_probability': 0.01}}}}

In [4]:
w2 = psp.generate_taxes_w2_and_1099()
w2

,simulant_id,household_id,first_name,middle_initial,last_name,age,date_of_birth,mailing_address_street_number,mailing_address_street_name,mailing_address_unit_number,...,employer_id,employer_name,employer_street_number,employer_street_name,employer_unit_number,employer_city,employer_state,employer_zipcode,tax_form,tax_year
0,0_4,0_8,Michael,M,Ticas,39,05/29/1981,1312,commonwealth avnue,NaN,...,95,Pikes Creek Campground,e,ince dr,NaN,Anytown,US,00000,W2,2020
1,0_5,0_8,Michelle,M,Ticas,41,10/27/1979,1312,commonwealth avnue,NaN,...,29,Red's Dairy Queen,264-12,hallmont dr,NaN,Anytown,US,00000,W2,2020
2,0_5,0_8,Michelle,M,Ticas,41,10/27/1979,1312,commonwealth avnue,NaN,...,30,Warrensburg,NaN,ne 39th ave,NaN,Anytown,US,00000,W2,2020
3,0_5621,0_2289,Daniel,D,Rodriguez,50,07/27/1970,,,,...,46,Nashville City Properties,283,west id rd,NaN,Anytown,US,00000,W2,2020
4,0_5623,0_2289,Maisha,T,Rodriguez,47,07/24/1973,,,,...,83,Ecr Whipple Oliver Finley Shoe Sensation,4682,buck tl,NaN,Anytown,US,00000,W2,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9967,0_18936,0_7621,Brian,K,Ares,49,04/11/1971,814,cherrywood av,NaN,...,23,Greenway Med Spa Services,631,regent ave,NaN,Anytown,US,00000,W2,2020
9968,0_18936,0_7621,Brian,NaN,Ares,49,04/11/1971,814,cherrywood av,NaN,...,90,Northwell Health Center Inc,NaN,barge roa sw,NaN,Anytown,US,00000,W2,2020
9969,0_18937,0_7621,Angela,M,Ares,40,06/23/1980,814,cherrywood av,NaN,...,1,Military,7930,moriah rd,NaN,Anytown,US,00000,1099,2020
9970,0_18937,0_7621,Angela,M,Ares,40,06/23/1980,814,cherrywood av,NaN,...,105,Waffle House of Big Daddys Burgers Shakes and ...,2329,greenwood wy,NaN,Anytown,US,00000,NaN,2020
9971,0_18939,0_7621,Franklin,A,Ares,18,09/24/2002,814,cherrywood av,NaN,...,9,Vincent's Hospital,1,east jersey st,NaN,Anytown,US,00000,W2,2020

In [24]:
w2.dtypes

simulant_id                        object
household_id                       object
first_name                         object
middle_initial                     object
last_name                          object
age                                object
date_of_birth                      object
mailing_address_street_number      object
mailing_address_street_name        object
mailing_address_unit_number        object
mailing_address_po_box             object
mailing_address_city               object
mailing_address_state            category
mailing_address_zipcode            object
ssn                                object
wages                              object
employer_id                        object
employer_name                      object
employer_street_number             object
employer_street_name               object
employer_unit_number               object
employer_city                      object
employer_state                   category
employer_zipcode                   object
tax_form                         category
tax_year                           object
dtype: object

In [25]:
w2.employer_id.map(type).unique()

array([<class 'int'>], dtype=object)

In [26]:
w2.memory_usage(deep=True)/len(w2)

Index                             0.012836
simulant_id                      63.448456
household_id                     62.550943
first_name                       62.689631
middle_initial                   57.789009
last_name                        63.283193
age                              36.617830
date_of_birth                    67.000000
mailing_address_street_number    58.652828
mailing_address_street_name      68.314380
mailing_address_unit_number      34.441135
mailing_address_po_box           32.034797
mailing_address_city             63.679402
mailing_address_state             1.518652
mailing_address_zipcode          61.690533
ssn                              67.636081
wages                            36.721219
employer_id                      36.000000
employer_name                    78.492278
employer_street_number           58.968712
employer_street_name             68.462996
employer_unit_number             33.553550
employer_city                    63.663458
employer_state                    1.518652
employer_zipcode                 61.708584
tax_form                          1.022864
tax_year                         36.000000
dtype: float64

In [27]:
w2.age.map(type).unique()

array([<class 'int'>, <class 'str'>, <class 'float'>], dtype=object)

In [28]:
dir(psp)

['NO_NOISE',
 '__about__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__copyright__',
 '__doc__',
 '__email__',
 '__file__',
 '__license__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__summary__',
 '__title__',
 '__uri__',
 '__version__',
 'column_getters',
 'configuration',
 'constants',
 'data',
 'entity_types',
 'exceptions',
 'generate_american_community_survey',
 'generate_current_population_survey',
 'generate_decennial_census',
 'generate_social_security',
 'generate_taxes_1040',
 'generate_taxes_w2_and_1099',
 'generate_women_infants_and_children',
 'get_config',
 'interface',
 'loader',
 'noise',
 'noise_entities',
 'noise_functions',
 'noise_scaling',
 'schema_entities',
 'utilities']

In [30]:
acs = psp.generate_american_community_survey()
acs

,simulant_id,household_id,survey_date,first_name,middle_initial,last_name,age,date_of_birth,street_number,street_name,unit_number,city,state,zipcode,sex,race_ethnicity
0,0_12123,0_4898,2020-10-06,Heather,R,Lee,43,07/04/1977,203,norhwst 96th st,NaN,Anytown,US,00000,Female,Asian
1,0_12124,0_4898,2020-10-06,Terrell,A,Lee,16,10/22/2003,203,norhwst 96th st,NaN,Anytown,US,00000,Male,Asian
2,0_12125,0_4898,2020-10-06,Karen,B,Lee,47,03/17/2003,203,norhwst 96th st,NaN,Anytown,US,00000,Female,Asian
3,0_20535,0_4898,2020-10-06,Joaquin,C,Lee,16,08/04/2020,203,norhwst 96th st,NaN,Anytown,US,00000,Male,Asian
4,0_4493,0_1830,2020-02-25,Gary,C,Harness,65,03/11/1954,NaN,concord l,number r,Anytown,US,00000,Male,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,0_20027,0_3,2020-04-21,Zane,R,Ruggiero,21,08/17/1998,46,e 10th st,NaN,Anytown,US,00000,Male,Asian
67,0_20329,0_3,2020-04-21,Chase,E,Nelson,17,01/20/2003,46,e 10th st,NaN,Anytown,US,00000,Male,White
68,0_20337,0_3,2020-04-21,Mila,M,Hopkins,0,01/01/2020,46,e 10th st,NaN,Anytown,US,00000,Female,Black
69,0_2895,0_1179,2020-12-01,Jamie,T,Lavoie,30,09/13/1987,10702,halcyon road,NaN,Anytown,US,00000,Male,White
70,0_2896,0_1179,2020-12-01,Latoya,B,Lavoi,30,12/04/1989,10702,halcyon road,NaN,Anytown,US,00000,Female,White

In [32]:
acs.dtypes

simulant_id               object
household_id              object
survey_date       datetime64[ns]
first_name                object
middle_initial            object
last_name                 object
age                       object
date_of_birth             object
street_number             object
street_name               object
unit_number               object
city                      object
state                   category
zipcode                   object
sex                     category
race_ethnicity          category
dtype: object

In [31]:
cps = psp.generate_current_population_survey()
cps

,simulant_id,household_id,survey_date,first_name,middle_initial,last_name,age,date_of_birth,street_number,street_name,unit_number,city,state,zipcode,sex,race_ethnicity
0,0_19562,0_2116,2020-10-06,Juanita,A,Hoff,22,04/25/1998,670,good hope ro,NaN,Anytown,US,NaN,Female,White
1,0_18919,0_7612,2020-01-28,Michael,A,Johnson,44,11/19/1975,1158,winterberry ct,NaN,Anytown,US,00000,Male,Black
2,0_1974,0_801,2020-02-25,Barbara,S,Murray,67,11/02/1952,444,lower 36th ave s,NaN,Anytown,US,00000,Male,White
3,0_9228,0_3752,2020-02-25,Jean,M,Silverman,65,03/08/1954,12826,whittier avenu,NaN,Anytown,US,NaN,Female,White
4,0_15858,0_6402,2020-02-25,Robert,J,Hanson,81,09/07/1938,71-60,lakeland rd,NaN,Anytown,US,00000,Male,White
5,0_5055,0_2070,2020-03-24,Jo,S,Crawford,63,09/01/1956,448,e 54th st,NaN,Anytown,US,00000,Female,White
6,0_5056,0_2070,2020-03-24,Autumn,M,Crawford,18,12/04/2001,448,e 54th st,NaN,Anytown,US,00000,Female,White
7,0_5057,0_2070,2020-03-24,Robert,J,Crawford,62,07/23/1957,448,e 54th st,NaN,Anytown,US,00000,Male,White
8,0_9912,0_4034,2020-03-24,Courtney,A,Leatherberry,38,03/01/1981,5853,ravnikar rd,NaN,Anytown,US,00000,Female,White
9,0_9913,0_4034,2020-03-24,Zoe,B,Leatherberry,11,01/27/2009,5853,ravnikar rd,NaN,Anytown,US,NaN,Female,White
10,0_12894,0_5190,2020-03-24,Tanya,J,Carey,48,12/17/1971,8200,apple orchard rd,NaN,Anytown,US,NaN,Female,Multiracial or Other
11,0_10541,0_4282,2020-04-21,Christy,J,Bledsoe,72,09/03/1947,1509,nw 110 ave,NaN,Anytown,US,00000,Female,White
12,0_3031,0_1232,2020-05-19,Michael,D,Baker,69,11/11/1950,NaN,beaver cr ranch rd,NaN,Anytown,US,00000,Male,White
13,0_5041,0_2064,2020-05-19,Emily,A,Roberts,38,10/29/1981,601,sw 19th st,NaN,Anytown,US,00000,Female,Black
14,0_20285,0_2064,2020-05-19,Jack,G,Roberts,0,11/15/2019,601,sw 19th st,NaN,Anytown,US,00000,Male,Black
15,0_14581,0_5872,2020-05-19,Melany,A,Harring,13,03/08/2007,15442,herkimer street,NaN,Anytown,US,00000,Female,White
16,0_14583,0_5872,2020-05-19,Preston,E,Harring,5,07/24/2014,15442,herkimer street,NaN,Anytown,US,00000,Male,White
17,0_17192,0_6927,2020-05-19,Dolores,B,Dale,48,04/23/1971,NaN,radio road,NaN,Anytown,US,00000,Female,AIAN
18,0_1097,0_4366,2020-06-16,Jeffrey,C,Ra,25,11/21/1994,305,trotting down dr,aptmnt 129r,Anytown,US,00000,Male,Asian
19,0_10742,0_4366,2020-06-16,Martin,D,Ellis,63,04/26/1957,305,trotting down dr,aptmnt 129r,Anytown,US,00000,Male,White
20,0_5047,0_2065,2020-06-16,Ruben,T,Martinez-Sano,19,11/28/2000,4555,maris st,NaN,Anytown,US,00000,Male,Latino
21,0_16816,0_6777,2020-06-16,Richard,D,Ortiz,49,08/07/1970,5151,flannery ln,NaN,Anytown,US,00000,Male,White
22,0_16817,0_6777,2020-06-16,Donna,C,Ortiz,53,06/04/1966,5151,flannery ln,NaN,Anytown,US,00000,Female,White
23,0_11447,0_4630,2020-07-14,Virgil,J,Avedian,75,07/18/1944,3232,wilson ave,NaN,Anytown,US,00000,Male,White
24,0_11448,0_4630,2020-07-14,Shirley,J,Avedian,78,12/18/1941,3232,wilson ave,NaN,Anytown,US,00000,Male,White
25,0_18994,0_7639,2020-07-14,Brett,J,Moreno,43,01/28/1977,NaN,mesa ct,NaN,Anytown,US,00000,Male,Latino
26,0_18995,0_7639,2020-07-14,Timothy,P,Moreno,21,08/08/1999,NaN,mesa ct,NaN,Anytown,US,00000,Male,Asian
27,0_3472,0_1411,2020-08-11,Shelly,T,Green,62,01/21/1962,624,old ringgold rd,NaN,Anytown,US,00000,Female,White
28,0_3474,0_1411,2020-08-11,Daniel,H,Green,20,10/26/1999,624,old ringgold rd,NaN,Anytown,US,00000,Male,White
29,0_6232,0_2537,2020-09-08,Journey,P,Buerger,9,04/16/2011,989,andre street,NaN,Anytown,US,00000,Female,White
30,0_5401,0_2206,2020-10-06,Charles,J,Martinezgonzal,43,08/08/1977,1695,carnegie ln,NaN,Anytown,US,00000,Male,Latino
31,0_18277,0_7350,2020-10-06,Crystal,A,Nemeth,35,09/17/1984,2422,deercroft dr,NaN,Anytown,US,00000,Female,Latino
32,0_18279,0_7350,2020-10-06,Nicholas,J,Nemeth,12,05/29/2008,2422,deercroft dr,NaN,Anytown,US,00000,Male,Latino
33,0_1578,0_641,2020-11-03,Barbara,J,Boskovic,66,12/30/1953,10700,s monaco wy,NaN,Anytown,US,00000,NaN,White
34,0_1578,0_641,2020-12-01,Barbara,J,Boskovic,66,12/30/1953,10700,s monaco wy,NaN,Anytown,US,00000,Female,White
35,0_8025,0_3267,2020-11-03,Louise,T,Loh,65,01/01/1955,319,dupont blvd,NaN,Anytown,US,00000,Female,Latino
36,0_8026,0_3267,2020-11-03,Robert,G,Zuluaga,66,04/28/1954,319,dupont blvd,NaN,Anytown,US,00001,Male,Latino
37,0_20520,0_3267,2020-11-03,Celeste,M,Zuluaga,53,11/17/1966,319,dupont blvd,NaN,Anytown,US,00000,Female,White
38,0_13465,0_5419,2020-11-03,Jacob,W,Sisneros,23,06/01/1997,1555,h55 c408,NaN,Anytown,US,00000,Male,Latino
39,0_13467,0_5419,2020-11-03,Jack,W,Skyberg,21,02/06/1999,1555,h55 c408,NaN,Anytown,US,00000,Male,White
40,0_19863,0_8090,2020-11-03,Aaron,S,Zopp,44,01/08/1976,8170,villa fair rd,NaN,Anytown,US,00000,Male,White
41,0_2225,0_897,2020-12-29,Marie,C,Fales,61,12/06/1958,30,southeast oakhurst street,NaN,Anytown,US,00000,Female,White
42,0_2737,0_1109,2020-12-29,London,A,Conder,3,08/22/2017,482,western hill rd,NaN,Anytown,US,00000,Female,White
43,0_14596,0_7870,2020-12-29,Jordan,C,Douglas,20,01/26/2000,3439,NaN,NaN,Anytown,US,00000,Male,White

In [33]:
cps.dtypes

simulant_id               object
household_id              object
survey_date       datetime64[ns]
first_name                object
middle_initial            object
last_name                 object
age                       object
date_of_birth             object
street_number             object
street_name               object
unit_number               object
city                      object
state                   category
zipcode                   object
sex                     category
race_ethnicity          category
dtype: object

In [34]:
wic = psp.generate_women_infants_and_children()
wic

,simulant_id,household_id,first_name,middle_initial,last_name,date_of_birth,street_number,street_name,unit_number,city,state,zipcode,sex,race_ethnicity,year
0,0_1282,0_516,Alexandra,G,Summerford,12042018,5051,rime village drive,NaN,Anytown,US,00000,Female,White,2020
1,0_1767,0_714,Remy,H,Amos,02172018,31,skyline drive,NaN,Anytown,US,00000,Female,Black,2020
2,0_2093,0_846,Devon,H,Dominguez,12042018,68873,s walden av,NaN,Anytown,NaN,00000,Male,Latino,2020
3,0_2091,0_846,Sophie,E,Dominguez,01212015,68873,s walden av,NaN,Anytown,US,00000,Female,Latino,2020
4,0_10424,0_4235,Jacob,R,Hernandez,03162015,4555,w hubbard ave,NaN,Anytown,NY,00000,Male,Latino,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,0_19230,0_7727,Carson,N,Balser,10072015,603,pacific st,NaN,Anytown,US,00000,Male,White,2020
137,0_20044,0_2004,Beckham,R,Bona,01302019,100-43,w balsa ave,NaN,Anytown,US,00000,Male,White,2020
138,0_20069,0_7824,Gunner,B,Mata,03072019,87,southwest 63rd avenue,NaN,Anytown,US,00000,Male,White,2020
139,0_20170,0_845,Yaretzi,E,Alsandor,07012019,319,grace dr s,NaN,Anytown,US,00000,Female,Black,2020
140,0_20357,0_6765,Alexander,S,Riva,01222020,6040,presidio ter,NaN,Anytown,US,00000,Male,White,2020

In [35]:
wic.dtypes

simulant_id         object
household_id        object
first_name          object
middle_initial      object
last_name           object
date_of_birth       object
street_number       object
street_name         object
unit_number         object
city                object
state             category
zipcode             object
sex               category
race_ethnicity    category
year                object
dtype: object

In [36]:
ssa = psp.generate_social_security()
ssa

,simulant_id,first_name,middle_initial,last_name,date_of_birth,ssn,event_type,event_date
0,0_19979,Mary,M,Dillinger,19191204,786-77-6454,creation,19191204
1,0_6846,Peter,M,Johnson,19210616,688-88-6377,creation,19210616
2,0_19983,Gertrude,M,Mandato,19220113,651-33-9561,creation,19220113
3,0_262,Mary,M,Dilts,19220305,665-25-7858,creation,19220305
4,0_12473,Catherine,R,Anthony,19220306,875-10-2359,creation,19220306
...,...,...,...,...,...,...,...,...
16564,0_20687,Keith,C,Dumas,19800224,183-90-0619,creation,20201229
16565,0_20686,Benjamin,J,Palmore,19860415,803-81-8527,creation,20201229
16566,0_20692,Olivia,J,Ignacio,19950118,170-62-5253,creation,20201229
16567,0_20662,Odin,K,Hartman,20201230,281-88-9330,creation,20201230
16568,0_20673,Ava,E,Garcia,20201231,547-99-7034,creation,20201261

In [37]:
tax1040 = psp.generate_taxes_1040()
tax1040

,simulant_id,household_id,first_name,middle_initial,last_name,mailing_address_street_number,mailing_address_street_name,mailing_address_unit_number,mailing_address_po_box,mailing_address_city,...,dependent_1_ssn,dependent_2_first_name,dependent_2_last_name,dependent_2_ssn,dependent_3_first_name,dependent_3_last_name,dependent_3_ssn,dependent_4_first_name,dependent_4_last_name,dependent_4_ssn
0,0_4,0_8,Michael,M,Ticas,1312,commonwealth avnue,NaN,NaN,Anytown,...,584-16-0130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0_7251,0_2957,Timothy,J,Rios,804,NaN,NaN,NaN,Anytown,...,161-89-7593,Joesph,Rios,743-21-4895,Javier,Rios,351-01-5947,NaN,NaN,NaN
2,0_5189,0_2124,Shannon,M,Bass,525,e via los caballos,NaN,NaN,Anytown,...,189-73-2084,Ruby,Bass,187-16-6927,Luna,Bass,153-08-5291,NaN,NaN,NaN
3,0_8436,0_3426,Patricia,C,Settle,5219,valleymead ln,apt 9,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0_9013,0_3661,Lorna,S,Carstensen,18408,w duarte rd,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6568,0_12764,0_5140,Aiden,J,Brown,7105,5th street,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6569,0_12765,0_5140,Josiah,C,Brown,7105,5th street,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6570,0_15865,0_6729,Haley,T,Warren,4606,rice st,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6571,0_16674,0_6729,Paxton,I,Olson,4606,rice st,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6572,0_16675,0_6729,Christopher,J,Olson,4606,rice st,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
tax1040.dtypes

simulant_id                        object
household_id                       object
first_name                         object
middle_initial                     object
last_name                          object
mailing_address_street_number      object
mailing_address_street_name        object
mailing_address_unit_number        object
mailing_address_po_box             object
mailing_address_city               object
mailing_address_state            category
mailing_address_zipcode            object
ssn                                object
spouse_first_name                  object
spouse_middle_initial              object
spouse_last_name                   object
spouse_ssn                         object
dependent_1_first_name             object
dependent_1_last_name              object
dependent_1_ssn                    object
dependent_2_first_name             object
dependent_2_last_name              object
dependent_2_ssn                    object
dependent_3_first_name             object
dependent_3_last_name              object
dependent_3_ssn                    object
dependent_4_first_name             object
dependent_4_last_name              object
dependent_4_ssn                    object
dtype: object

In [39]:
tax1040.isna().sum()

simulant_id                         0
household_id                        0
first_name                         60
middle_initial                     64
last_name                          69
mailing_address_street_number     472
mailing_address_street_name        64
mailing_address_unit_number      6068
mailing_address_po_box           6391
mailing_address_city               59
mailing_address_state              62
mailing_address_zipcode            77
ssn                               248
spouse_first_name                5156
spouse_middle_initial            5145
spouse_last_name                 5156
spouse_ssn                       5231
dependent_1_first_name           5656
dependent_1_last_name            5651
dependent_1_ssn                  5664
dependent_2_first_name           6109
dependent_2_last_name            6107
dependent_2_ssn                  6113
dependent_3_first_name           6391
dependent_3_last_name            6390
dependent_3_ssn                  6394
dependent_4_first_name           6519
dependent_4_last_name            6519
dependent_4_ssn                  6518
dtype: int64

In [40]:
%time tax1040_2023 = psp.generate_taxes_1040(year=2023)
tax1040_2023

CPU times: user 26.1 s, sys: 75.1 ms, total: 26.1 s
Wall time: 26.2 s

,simulant_id,household_id,first_name,middle_initial,last_name,mailing_address_street_number,mailing_address_street_name,mailing_address_unit_number,mailing_address_po_box,mailing_address_city,...,dependent_1_ssn,dependent_2_first_name,dependent_2_last_name,dependent_2_ssn,dependent_3_first_name,dependent_3_last_name,dependent_3_ssn,dependent_4_first_name,dependent_4_last_name,dependent_4_ssn
0,0_8436,0_3426,Patricia,C,Settle,NaN,valleymead ln,apt 9,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0_9013,0_3661,Lorna,S,Carstensen,18408,w duarte rd,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0_12689,0_5116,David,R,Bertrand,180,brookside way,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0_21,0_14,Patrica,M,Reed,850,ashmount avenu,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0_25,0_16,Nicole,M,Hovze,19461,fire twr rd,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6909,0_11735,0_4740,Griselda,P,Lambert,990,wall street,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6910,0_2537,0_5399,Bernard,J,Lloyd,12300,elder vst dr,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6911,0_17760,0_5399,Paige,K,Trussell,12300,NaN,NaN,NaN,Anytown,...,168-77-3317,Quinton,NaN,566-36-1858,Ayden,Trussell,569-35-2849,NaN,NaN,NaN
6912,0_21139,0_5399,NaN,Z,Trussell,12300,elder vst dr,NaN,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6913,0_20272,0_5308,Harlyn,E,Lee,27,kinkaid rd,apt no 1,NaN,Anytown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
%time census2030 = psp.generate_decennial_census(year=2030)
census2030

CPU times: user 2.2 s, sys: 27.6 ms, total: 2.23 s
Wall time: 2.24 s

,simulant_id,household_id,first_name,middle_initial,last_name,age,date_of_birth,street_number,street_name,unit_number,city,state,zipcode,relation_to_reference_person,sex,race_ethnicity,year
0,0_923,0_8033,Richard,N,Davis,85,11/03/1943,317,stoneykirk lane,NaN,Anytown,US,00000,Reference person,Male,Black,2030
1,0_2348,0_1066,Alexis,S,Davis,33,10/23/1996,9254,grdn blvd,apt num 599,Anytown,US,00000,Other nonrelative,Female,Black,2030
2,0_2641,0_1066,Karen,T,Schmidt,71,06/01/1958,9254,grdn blvd,apt num 599,Anytown,US,00000,Reference person,Female,White,2030
3,0_6176,0_2514,Kathleen,K,Smith,75,03/18/1954,NaN,garey lane,NaN,Anytown,US,00000,Reference person,Female,Multiracial or Other,2030
4,0_10251,0_5627,Child,C,Scjeartz,44,05/20/1985,111,kingshead rd,NaN,Anytown,US,00000,Other nonrelative,Male,White,2030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11017,0_21139,0_5399,Sophia,Z,Trussell,7,07/04/2022,12300,elder vst dr,NaN,Anytown,US,00000,Other nonrelative,Female,White,2030
11018,0_19380,0_11001,Christina,H,Sumrall,54,12/05/1975,603,coolidge st,NaN,Anytown,US,00000,Reference person,Female,White,2030
11019,0_20272,0_5308,Harlyn,E,Lee,10,10/26/2019,27,kinkaid rd,apt no 1,Anytown,US,00000,Reference person,Female,Black,2030
11020,0_21997,0_10693,Ann,A,Ma,27,07/05/2002,1310,longwood st,NaN,Anytown,US,00000,Reference person,Female,Asian,2030
11021,0_23386,0_10693,Caden,M,Ma,0,04/10/2029,1310,longwood st,NaN,Anytown,US,00000,Biological child,Male,Asian,2030

## Check for trailing whitespace after numbers in street number in 2020 census

Looks like there's none. Good.

In [47]:
nonnumeric = census.loc[~(census.street_number.isna() | census.street_number.str.isdigit()), 'street_number']
nonnumeric

28            18o
186      2220 1 2
326         4972o
409         1O834
585          52z9
           ...
9766         28-1
9767         28-1
10147      04n740
10149       n9002
10150       n9002
Name: street_number, Length: 166, dtype: object

In [51]:
# Find strings that contain whitespace
nonnumeric.loc[nonnumeric.str.contains('\s')]

186        2220 1 2
1124     w348n 5826
1429      10531 1 2
1430      10531 1 2
1511         2308 a
1512         2308 a
1513         2308 a
1514         2308 a
1524         2308 a
1585        104 1 2
1586        104 1 2
1587        104 1 2
1588        104 1 2
1589        104 1 2
1601        104 1 2
1773         35 112
1774         35 112
1775         35 112
1776         35 112
1777         35 112
2430      12282 179
2500         1621 b
2501         1621 b
2541         4688 d
2542         4688 d
2864       1431 1 2
2865       1431 1 2
5050     n75w 34441
5901          132 b
5902          132 b
5903          132 b
5904          132 b
6459    w169n 10759
6779         35 1 2
6780         35 1 2
6885    w204s 10645
6886    w204s 10645
8712    w216n 14035
8713    w216n 14035
8714    w216n 14035
9271         115 e3
9272         115 e3
9273         115 e3
9312       1469 1 2
9313       1469 1 2
9423         2480 a
9424         2480 a
9425         2480 a
Name: street_number, dtype: object

In [54]:
# Check if any strings begin or end with whitespace - Nope! Good.
nonnumeric.str.contains('$\s|\s^').any()

False

In [56]:
int_cols = ['age', 'street_number', 'unit_number']
for col in int_cols:
    print(col, census[col].str.contains('$\s|\s^').any())

age False
street_number False
unit_number False

In [62]:
dataset_names = ['census', 'acs', 'cps', 'wic', 'ssa', 'w2', 'tax1040']
dataset_vars = [census, acs, cps, wic, ssa, w2, tax1040]
datasets = dict(zip(dataset_names, dataset_vars))
for name, df in datasets.items():
    print(name, df.filter(like='year').columns)

census Index(['year'], dtype='object')
acs Index([], dtype='object')
cps Index([], dtype='object')
wic Index(['year'], dtype='object')
ssa Index([], dtype='object')
w2 Index(['tax_year'], dtype='object')
tax1040 Index([], dtype='object')