In [1]:
import numpy as np, matplotlib.pyplot as plt, pandas as pd
pd.set_option('display.max_rows', 40)

# from pprint import pprint
# import pprint

!date
!whoami
!uname -a
!pwd

Tue 29 Nov 2022 05:31:32 PM PST
ndbs
Linux int-slurm-sarchive-p0012 5.4.0-88-generic #99-Ubuntu SMP Thu Sep 23 17:29:00 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
/mnt/share/code/ndbs/vivarium_research_prl/model_validation

In [2]:
project_output_dir = '/mnt/team/simulation_science/priv/engineering/vivarium_census_prl_synth_pop'
output_subdir = 'results/special_last_names/florida/2022_10_14_10_49_32/population_table/'
output_dir = f'{project_output_dir}/{output_subdir}'

!ls -l $output_dir

total 32224
-rw-rw-r-- 1 albrja   IHME-Simulationscience 12622072 Oct 20 23:08 decennial_census.hdf
-rwxrwxrwx 1 beatrixh IHME-Simulationscience 20364830 Nov 14 16:42 state_table.hdf

In [3]:
decennial_census_path = f'{output_dir}/decennial_census.hdf'

with pd.HDFStore(decennial_census_path, 'r') as census_hdf:
    print(census_hdf)
    print(census_hdf.info())
    print(census_hdf.keys())

<class 'pandas.io.pytables.HDFStore'>
File path: /mnt/team/simulation_science/priv/engineering/vivarium_census_prl_synth_pop/results/special_last_names/florida/2022_10_14_10_49_32/population_table//decennial_census.hdf

<class 'pandas.io.pytables.HDFStore'>
File path: /mnt/team/simulation_science/priv/engineering/vivarium_census_prl_synth_pop/results/special_last_names/florida/2022_10_14_10_49_32/population_table//decennial_census.hdf
/year_2020            frame        (shape->[47444,10])
/year_2030            frame        (shape->[46440,10])
/year_2040            frame        (shape->[44626,10])
['/year_2020', '/year_2030', '/year_2040']

In [4]:
census_hdf

<class 'pandas.io.pytables.HDFStore'>
File path: /mnt/team/simulation_science/priv/engineering/vivarium_census_prl_synth_pop/results/special_last_names/florida/2022_10_14_10_49_32/population_table//decennial_census.hdf

In [5]:
census2020_df = pd.read_hdf(decennial_census_path, 'year_2020')
print(census2020_df.shape)
census2020_df.head(20)

(47444, 10)

,first_name,last_name,age,date_of_birth,address,zipcode,relation_to_household_head,sex,race_ethnicity,middle_initial
0,Margaret,Clark,68.681336,1951-07-27,"1344 winoka rd brooksville, fl",34601,Reference person,Female,Black,J
1,Jeffrey,Littlejohn,52.913882,1967-05-03,"927 23rd st clearwater, fl",34698,Reference person,Male,Black,V
2,Briana,Jackson,13.566889,2006-09-07,"927 23rd st clearwater, fl",34698,Biological child,Female,Black,A
3,Benjamin,Cox,21.444732,1998-10-21,"927 23rd st clearwater, fl",34698,Stepchild,Male,Black,D
4,Willie,Tucker,72.478355,1947-10-09,"8904 167th place fleming island, fl",32003,Reference person,Male,White,J
5,Frank,Centers,80.528684,1939-09-21,"3478 claude douglas cir jacksonville, fl",32218,Reference person,Male,White,C
6,Judy,Long,80.834576,1939-06-01,"3478 claude douglas cir jacksonville, fl",32218,Opp-sex spouse,Female,White,R
7,Mark,Harmon,66.985662,1953-04-06,"94 perry rd orlando, fl",32832,Reference person,Male,White,B
8,Christine,Mckee,40.901929,1979-05-08,"94 perry rd orlando, fl",32832,Biological child,Female,White,J
9,Aidan,Rountree,14.919628,2005-05-01,"94 perry rd orlando, fl",32832,Grandchild,Male,White,J
10,Kenneth,Truebenbach,71.235588,1949-01-05,"136 southwood ave north pt, fl",33953,Reference person,Male,White,A
11,Kenneth,Wilson,72.496535,1947-10-03,"136 southwood ave north pt, fl",33953,Other nonrelative,Male,White,B
12,Jamie,Gamble,34.427632,1985-10-27,"164 raymond rd merritt island, fl",32953,Reference person,Female,White,C
13,Edward,Kleinschmidt,78.969998,1941-04-12,"2144 e ann st palm springs, fl",33461,Reference person,Male,White,J
14,Tiffany,Ellis,49.042066,1971-03-17,"7854 agnes ave titusville, fl",32780,Reference person,Female,Black,R
15,Timothy,Ramirez,46.065617,1974-03-09,"7854 agnes ave titusville, fl",32780,Opp-sex partner,Male,Latino,A
16,Kenneth,Jankowski,67.067886,1953-03-07,"1820 colleen ct fort myers, fl",33908,Reference person,Male,White,W
17,Kelly,Jensen,57.031424,1963-03-21,"1820 colleen ct fort myers, fl",33908,Opp-sex spouse,Female,White,C
18,Judith,Demello,81.300786,1938-12-13,"74 2 avenue gainesville, fl",32653,Reference person,Female,White,C
19,Frank,Nielsen,88.629813,1931-08-15,"74 2 avenue gainesville, fl",32653,Opp-sex spouse,Male,White,A

In [6]:
census2030_df = pd.read_hdf(decennial_census_path, 'year_2030')
print(census2030_df.shape)
census2030_df.head(20)

(46440, 10)

,first_name,last_name,age,date_of_birth,address,zipcode,relation_to_household_head,sex,race_ethnicity,middle_initial
0,Margaret,Clark,70.904471,1951-07-27,"1344 winoka rd brooksville, fl",34601,Reference person,Female,Black,J
1,Jeffrey,Littlejohn,53.220521,1967-05-03,"1400 miller ave unincorporated, fl",33428,Reference person,Male,Black,V
2,Briana,Jackson,23.609326,2006-09-07,"mirasol drive kendall, fl",33157,Other nonrelative,Female,Black,A
3,Benjamin,Cox,31.487169,1998-10-21,"272 hickey road palm coast, fl",32164,Other nonrelative,Male,Black,D
4,Willie,Tucker,78.151182,1947-10-09,"8904 167th place fleming island, fl",32003,Reference person,Male,White,J
5,Frank,Centers,90.571120,1939-09-21,"3478 claude douglas cir jacksonville, fl",32218,Reference person,Male,White,C
6,Judy,Long,84.590907,1939-06-01,"1838 kelton ln jacksonville, fl",32224,Other nonrelative,Female,White,R
7,Mark,Harmon,77.028099,1953-04-06,"94 perry rd orlando, fl",32832,Reference person,Male,White,B
8,Christine,Mckee,50.944366,1979-05-08,"94 perry rd orlando, fl",32832,Biological child,Female,White,J
9,Aidan,Rountree,24.962064,2005-05-01,"2795 north eagle rd florahome, fl",32140,Other nonrelative,Male,White,J
10,Kenneth,Truebenbach,81.278025,1949-01-05,"136 southwood ave north pt, fl",33953,Reference person,Male,White,A
11,Kenneth,Wilson,72.496535,1947-10-03,"2034 bobtail drive daytona beach, fl",32114,Other nonrelative,Male,White,B
12,Jamie,Gamble,44.470069,1985-10-27,"164 raymond rd merritt island, fl",32953,Reference person,Female,White,C
13,Edward,Kleinschmidt,89.012434,1941-04-12,"2144 e ann st palm springs, fl",33461,Reference person,Male,White,J
15,Timothy,Ramirez,56.108054,1974-03-09,"1307 weldon ave brandon, fl",33511,Other nonrelative,Male,Latino,A
16,Kenneth,Jankowski,77.110323,1953-03-07,"1820 colleen ct fort myers, fl",33908,Reference person,Male,White,W
17,Kelly,Jensen,67.073860,1963-03-21,"1820 colleen ct fort myers, fl",33908,Opp-sex spouse,Female,White,C
18,Judith,Demello,87.663551,1938-12-13,"74 2 avenue gainesville, fl",32653,Reference person,Female,White,C
19,Frank,Nielsen,98.672250,1931-08-15,"4029 w hidalgo ave lake land, fl",33813,Other nonrelative,Male,White,A
20,Joyce,Botello,78.691131,1951-08-08,"1253 w 102nd st cape coral, fl",33909,Reference person,Female,Latino,J

In [7]:
state_table_path = f'{output_dir}/state_table.hdf'

with pd.HDFStore(state_table_path, 'r') as state_table_hdf:
    print(state_table_hdf)
    print(state_table_hdf.info())
    print(state_table_hdf.keys())

<class 'pandas.io.pytables.HDFStore'>
File path: /mnt/team/simulation_science/priv/engineering/vivarium_census_prl_synth_pop/results/special_last_names/florida/2022_10_14_10_49_32/population_table//state_table.hdf

<class 'pandas.io.pytables.HDFStore'>
File path: /mnt/team/simulation_science/priv/engineering/vivarium_census_prl_synth_pop/results/special_last_names/florida/2022_10_14_10_49_32/population_table//state_table.hdf
/ymd_2020_4_1            frame        (shape->[50000,27])
/ymd_2040_5_1            frame        (shape->[57470,27])
['/ymd_2020_4_1', '/ymd_2040_5_1']

In [8]:
state_table_2020_df = pd.read_hdf(state_table_path, 'ymd_2020_4_1')
print(state_table_2020_df.shape)
state_table_2020_df.head(20)

(50000, 27)

,tracked,middle_name,sex,relation_to_household_head,race_ethnicity,housing_type,exit_time,last_name,state,ssn,...,years_of_life_lost,cause_of_death,zipcode,address,parent_id,last_birth_time,employer_id,employer_name,employer_zipcode,employer_address
0,True,Jenny,Female,Reference person,Black,Standard,NaT,Clark,12,486-24-8278,...,0.0,not_dead,34601,"1344 winoka rd brooksville, fl",-1,2019-03-04 18:00:00,46,not implemented,33187,"2408 brookshire dr sunset corners, fl"
1,True,Virgil,Male,Reference person,Black,Standard,NaT,Littlejohn,12,108-89-8623,...,0.0,not_dead,34698,"927 23rd st clearwater, fl",-1,NaT,193,not implemented,33948,"144 tulip ln prt charlotte, fl"
2,True,Annaliese,Female,Biological child,Black,Standard,NaT,Jackson,12,788-05-3097,...,0.0,not_dead,34698,"927 23rd st clearwater, fl",-1,2019-03-04 18:00:00,-1,unemployed,NA,NA
3,True,Devyn,Male,Stepchild,Black,Standard,NaT,Cox,12,,...,0.0,not_dead,34698,"927 23rd st clearwater, fl",-1,NaT,204,not implemented,33169,"1835 harvard dr hialeah, fl"
4,True,Jonathan,Male,Reference person,White,Standard,NaT,Tucker,12,009-31-4192,...,0.0,not_dead,32003,"8904 167th place fleming island, fl",-1,NaT,176,not implemented,34293,"2607 e bluefield ave venice, fl"
5,True,Clinton,Male,Reference person,White,Standard,NaT,Centers,12,218-45-6545,...,0.0,not_dead,32218,"3478 claude douglas cir jacksonville, fl",-1,NaT,-1,unemployed,NA,NA
6,True,Rutha,Female,Opp-sex spouse,White,Standard,NaT,Long,12,427-12-9461,...,0.0,not_dead,32218,"3478 claude douglas cir jacksonville, fl",-1,2019-03-04 18:00:00,-1,unemployed,NA,NA
7,True,Bradley,Male,Reference person,White,Standard,NaT,Harmon,12,838-85-3740,...,0.0,not_dead,32832,"94 perry rd orlando, fl",-1,NaT,-1,unemployed,NA,NA
8,True,Jason,Female,Biological child,White,Standard,NaT,Mckee,12,554-68-9309,...,0.0,not_dead,32832,"94 perry rd orlando, fl",-1,2019-03-04 18:00:00,-1,unemployed,NA,NA
9,True,Jamison,Male,Grandchild,White,Standard,NaT,Rountree,12,419-60-7496,...,0.0,not_dead,32832,"94 perry rd orlando, fl",-1,NaT,-1,unemployed,NA,NA
10,True,Aaron,Male,Reference person,White,Standard,NaT,Truebenbach,12,014-05-8429,...,0.0,not_dead,33953,"136 southwood ave north pt, fl",-1,NaT,48,not implemented,32763,"5266 shady rd orange city, fl"
11,True,Byron,Male,Other nonrelative,White,Standard,NaT,Wilson,12,631-01-4174,...,0.0,not_dead,33953,"136 southwood ave north pt, fl",-1,NaT,84,not implemented,32164,"86 timberbrook cir palm coast, fl"
12,True,Clara,Female,Reference person,White,Standard,NaT,Gamble,12,571-41-8950,...,0.0,not_dead,32953,"164 raymond rd merritt island, fl",-1,2019-03-04 18:00:00,-1,unemployed,NA,NA
13,True,Jon,Male,Reference person,White,Standard,NaT,Kleinschmidt,12,255-95-0548,...,0.0,not_dead,33461,"2144 e ann st palm springs, fl",-1,NaT,-1,unemployed,NA,NA
14,True,Rosalind,Female,Reference person,Black,Standard,NaT,Ellis,12,852-73-8520,...,0.0,not_dead,32780,"7854 agnes ave titusville, fl",-1,2019-03-04 18:00:00,118,not implemented,33193,"108-49 52 avenue franjo, fl"
15,True,Alton,Male,Opp-sex partner,Latino,Standard,NaT,Ramirez,12,491-08-3757,...,0.0,not_dead,32780,"7854 agnes ave titusville, fl",-1,NaT,64,not implemented,32244,"35 katie court jacksonville, fl"
16,True,Willis,Male,Reference person,White,Standard,NaT,Jankowski,12,711-53-5070,...,0.0,not_dead,33908,"1820 colleen ct fort myers, fl",-1,NaT,-1,unemployed,NA,NA
17,True,Christie,Female,Opp-sex spouse,White,Standard,NaT,Jensen,12,816-57-7838,...,0.0,not_dead,33908,"1820 colleen ct fort myers, fl",-1,2019-03-04 18:00:00,199,not implemented,33781,"5 orleans ct st. petersburg, fl"
18,True,Caroline,Female,Reference person,White,Standard,NaT,Demello,12,122-26-3119,...,0.0,not_dead,32653,"74 2 avenue gainesville, fl",-1,2019-03-04 18:00:00,179,not implemented,33764,"700 barnhill rd se largo, fl"
19,True,Alan,Male,Opp-sex spouse,White,Standard,NaT,Nielsen,12,458-18-5827,...,0.0,not_dead,32653,"74 2 avenue gainesville, fl",-1,NaT,168,not implemented,34691,"37 s piney plains cir holiday, fl"

In [17]:
state_table_2020_df.columns

Index(['tracked', 'middle_name', 'sex', 'relation_to_household_head',
       'race_ethnicity', 'housing_type', 'exit_time', 'last_name', 'state',
       'ssn', 'date_of_birth', 'first_name', 'entrance_time', 'age',
       'household_id', 'alive', 'puma', 'years_of_life_lost', 'cause_of_death',
       'zipcode', 'address', 'parent_id', 'last_birth_time', 'employer_id',
       'employer_name', 'employer_zipcode', 'employer_address'],
      dtype='object')

In [18]:
state_table_2020_df.parent_id.nunique()

1

In [9]:
state_table_2040_df = pd.read_hdf(state_table_path, 'ymd_2040_5_1')
print(state_table_2040_df.shape)
state_table_2040_df.head(20)

(57470, 27)

,tracked,middle_name,sex,relation_to_household_head,race_ethnicity,housing_type,exit_time,last_name,state,ssn,...,years_of_life_lost,cause_of_death,zipcode,address,parent_id,last_birth_time,employer_id,employer_name,employer_zipcode,employer_address
0,True,Jenny,Female,Reference person,Black,Standard,2022-07-20,Clark,12.0,486-24-8278,...,20.534957,other_causes,34601,"1344 winoka rd brooksville, fl",-1,2019-03-04 18:00:00,-1,unemployed,NA,NA
1,True,Virgil,Male,Reference person,Black,Standard,2020-08-19,Littlejohn,12.0,108-89-8623,...,36.595150,other_causes,33974,"130 n park pl lehigh acres, fl",-1,NaT,57,not implemented,34207,"17 e 3rd street bradenton, fl"
2,True,Annaliese,Female,Other nonrelative,Black,Standard,NaT,Jackson,12.0,788-05-3097,...,0.000000,not_dead,32531,"40918 ingersoll te baker, fl",-1,2031-10-01 00:00:00,-1,unemployed,NA,NA
3,True,Devyn,Male,Other nonrelative,Black,Standard,NaT,Cox,12.0,,...,0.000000,not_dead,33950,"1303 highland ave punta gorda, fl",-1,NaT,204,not implemented,33134,"26236 lawrence un dr kendall, fl"
4,True,Jonathan,Male,Reference person,White,Standard,2025-12-31,Tucker,12.0,009-31-4192,...,14.668697,other_causes,32003,"8904 167th place fleming island, fl",-1,NaT,-1,unemployed,NA,NA
5,True,Clinton,Male,Reference person,White,Standard,2033-09-28,Centers,12.0,218-45-6545,...,6.281777,other_causes,32218,"3478 claude douglas cir jacksonville, fl",-1,NaT,-3,military,33176,"1414 e 53rd str kendall, fl"
6,True,Rutha,Female,Other nonrelative,White,Standard,2024-01-31,Long,12.0,427-12-9461,...,10.256562,other_causes,33028,"3565 california rd pembroke pines, fl",-1,2019-03-04 18:00:00,78,not implemented,33301,"5435 boatworks dr fort lauderdale, fl"
7,True,Bradley,Male,Reference person,White,Standard,NaT,Harmon,12.0,838-85-3740,...,0.000000,not_dead,32832,"94 perry rd orlando, fl",-1,NaT,176,not implemented,33414,"3914 delmore rd wellington, fl"
8,False,Jason,Female,Biological child,White,Standard,2033-05-11,Mckee,12.0,554-68-9309,...,0.000000,not_dead,32832,"94 perry rd orlando, fl",-1,2019-03-04 18:00:00,80,not implemented,33004,"50406 governors dr dania beach, fl"
9,False,Jamison,Male,Other nonrelative,White,Standard,2034-06-07,Rountree,12.0,419-60-7496,...,0.000000,not_dead,33647,"4 avenue b tampa, fl",-1,NaT,46,not implemented,33755,"3240 kellingsworth way clearwater, fl"
10,True,Aaron,Male,Reference person,White,Standard,2031-01-22,Truebenbach,12.0,014-05-8429,...,11.965296,other_causes,33953,"136 southwood ave north pt, fl",-1,NaT,48,not implemented,32257,"142 nw dorchester st jacksonville, fl"
11,True,Byron,Male,Other nonrelative,White,Standard,2020-04-29,Wilson,12.0,631-01-4174,...,19.204227,other_causes,32114,"2034 bobtail drive daytona beach, fl",-1,NaT,84,not implemented,34135,"1415 sycamore ln bonita sprngs, fl"
12,True,Clara,Female,Reference person,White,Standard,NaT,Gamble,12.0,571-41-8950,...,0.000000,not_dead,33426,"5005 nw 77 ct boynton beach, fl",-1,2019-03-04 18:00:00,-1,unemployed,NA,NA
13,True,Jon,Male,Reference person,White,Standard,2031-03-19,Kleinschmidt,12.0,255-95-0548,...,7.688899,other_causes,33461,"2144 e ann st palm springs, fl",-1,NaT,168,not implemented,32254,"752 n frontage rd jacksonville, fl"
14,False,Rosalind,Female,Reference person,Black,Standard,2028-07-12,Ellis,12.0,852-73-8520,...,0.000000,not_dead,33947,"66 west 89 street englewood, fl",-1,2019-03-04 18:00:00,118,not implemented,32219,"345 hanover arms ct jacksonville, fl"
15,True,Alton,Male,Other nonrelative,Latino,Standard,NaT,Ramirez,12.0,491-08-3757,...,0.000000,not_dead,33908,"1960 caleb avenue ft myers, fl",-1,NaT,64,not implemented,33030,"3519 w 109th st homestead, fl"
16,True,Willis,Male,Reference person,White,Standard,NaT,Jankowski,12.0,711-53-5070,...,0.000000,not_dead,33908,"1820 colleen ct fort myers, fl",-1,NaT,110,not implemented,33432,"18224 chase st boca raton, fl"
17,True,Christie,Female,Opp-sex spouse,White,Standard,NaT,Jensen,12.0,816-57-7838,...,0.000000,not_dead,33908,"1820 colleen ct fort myers, fl",-1,2019-03-04 18:00:00,-1,unemployed,NA,NA
18,True,Caroline,Female,Reference person,White,Standard,2026-09-09,Demello,12.0,122-26-3119,...,8.728034,other_causes,32653,"74 2 avenue gainesville, fl",-1,2019-03-04 18:00:00,179,not implemented,33909,"2786 foster ave cpe coral, fl"
19,True,Alan,Male,Other nonrelative,White,Standard,2035-10-24,Nielsen,12.0,458-18-5827,...,3.869327,other_causes,33813,"4029 w hidalgo ave lake land, fl",-1,NaT,168,not implemented,32254,"752 n frontage rd jacksonville, fl"

In [10]:
census2020_df.loc[:100]

,first_name,last_name,age,date_of_birth,address,zipcode,relation_to_household_head,sex,race_ethnicity,middle_initial
0,Margaret,Clark,68.681336,1951-07-27,"1344 winoka rd brooksville, fl",34601,Reference person,Female,Black,J
1,Jeffrey,Littlejohn,52.913882,1967-05-03,"927 23rd st clearwater, fl",34698,Reference person,Male,Black,V
2,Briana,Jackson,13.566889,2006-09-07,"927 23rd st clearwater, fl",34698,Biological child,Female,Black,A
3,Benjamin,Cox,21.444732,1998-10-21,"927 23rd st clearwater, fl",34698,Stepchild,Male,Black,D
4,Willie,Tucker,72.478355,1947-10-09,"8904 167th place fleming island, fl",32003,Reference person,Male,White,J
...,...,...,...,...,...,...,...,...,...,...
95,Lindsey,Williamson,35.206920,1985-01-16,"5266 shady rd orange city, fl",32763,Opp-sex spouse,Female,White,K
96,Charles,Weller,6.876754,2013-05-16,"5266 shady rd orange city, fl",32763,Biological child,Male,White,C
97,Jack,Ramer,5.364297,2014-11-20,"5266 shady rd orange city, fl",32763,Biological child,Male,White,B
99,Martha,Wright,71.576151,1948-09-03,"1043 w atherton rd ocala, fl",34481,Reference person,Female,White,I
100,Ruth,Susan,86.995224,1933-04-03,"926 forestwood dr cocoa, fl",32926,Reference person,Female,White,M

In [11]:
census2030_df.loc[:100]

,first_name,last_name,age,date_of_birth,address,zipcode,relation_to_household_head,sex,race_ethnicity,middle_initial
0,Margaret,Clark,70.904471,1951-07-27,"1344 winoka rd brooksville, fl",34601,Reference person,Female,Black,J
1,Jeffrey,Littlejohn,53.220521,1967-05-03,"1400 miller ave unincorporated, fl",33428,Reference person,Male,Black,V
2,Briana,Jackson,23.609326,2006-09-07,"mirasol drive kendall, fl",33157,Other nonrelative,Female,Black,A
3,Benjamin,Cox,31.487169,1998-10-21,"272 hickey road palm coast, fl",32164,Other nonrelative,Male,Black,D
4,Willie,Tucker,78.151182,1947-10-09,"8904 167th place fleming island, fl",32003,Reference person,Male,White,J
...,...,...,...,...,...,...,...,...,...,...
96,Charles,Weller,16.919191,2013-05-16,"5266 shady rd orange city, fl",32763,Biological child,Male,White,C
97,Jack,Ramer,15.406734,2014-11-20,"5266 shady rd orange city, fl",32763,Biological child,Male,White,B
98,Jaxson,Peterson,12.436514,2017-11-09,"5266 shady rd orange city, fl",32763,Biological child,Male,White,F
99,Martha,Wright,80.162052,1948-09-03,"1043 w atherton rd ocala, fl",34481,Reference person,Female,White,I
100,Ruth,Susan,97.037661,1933-04-03,"926 forestwood dr cocoa, fl",32926,Reference person,Female,White,M

In [12]:
subdf = census2030_df.loc[:100]
census2020_df.reindex(subdf.index).compare(subdf)

    first_name         last_name                  age             \
          self   other      self     other       self      other
0          NaN     NaN       NaN       NaN  68.681336  70.904471
1          NaN     NaN       NaN       NaN  52.913882  53.220521
2          NaN     NaN       NaN       NaN  13.566889  23.609326
3          NaN     NaN       NaN       NaN  21.444732  31.487169
4          NaN     NaN       NaN       NaN  72.478355  78.151182
..         ...     ...       ...       ...        ...        ...
96         NaN     NaN       NaN       NaN   6.876754  16.919191
97         NaN     NaN       NaN       NaN   5.364297  15.406734
98         NaN  Jaxson       NaN  Peterson        NaN  12.436514
99         NaN     NaN       NaN       NaN  71.576151  80.162052
100        NaN     NaN       NaN       NaN  86.995224  97.037661

    date_of_birth                                 address  \
             self      other                         self
0             NaT        NaT                          NaN
1             NaT        NaT  927 23rd st  clearwater, fl
2             NaT        NaT  927 23rd st  clearwater, fl
3             NaT        NaT  927 23rd st  clearwater, fl
4             NaT        NaT                          NaN
..            ...        ...                          ...
96            NaT        NaT                          NaN
97            NaT        NaT                          NaN
98            NaT 2017-11-09                          NaN
99            NaT        NaT                          NaN
100           NaT        NaT                          NaN

                                         zipcode         \
                                   other    self  other
0                                    NaN     NaN    NaN
1    1400 miller ave  unincorporated, fl   34698  33428
2             mirasol drive  kendall, fl   34698  33157
3        272 hickey road  palm coast, fl   34698  32164
4                                    NaN     NaN    NaN
..                                   ...     ...    ...
96                                   NaN     NaN    NaN
97                                   NaN     NaN    NaN
98        5266 shady rd  orange city, fl     NaN  32763
99                                   NaN     NaN    NaN
100                                  NaN     NaN    NaN

    relation_to_household_head                     sex       race_ethnicity  \
                          self              other self other           self
0                          NaN                NaN  NaN   NaN            NaN
1                          NaN                NaN  NaN   NaN            NaN
2             Biological child  Other nonrelative  NaN   NaN            NaN
3                    Stepchild  Other nonrelative  NaN   NaN            NaN
4                          NaN                NaN  NaN   NaN            NaN
..                         ...                ...  ...   ...            ...
96                         NaN                NaN  NaN   NaN            NaN
97                         NaN                NaN  NaN   NaN            NaN
98                         NaN   Biological child  NaN  Male            NaN
99                         NaN                NaN  NaN   NaN            NaN
100                        NaN                NaN  NaN   NaN            NaN

           middle_initial
     other           self other
0      NaN            NaN   NaN
1      NaN            NaN   NaN
2      NaN            NaN   NaN
3      NaN            NaN   NaN
4      NaN            NaN   NaN
..     ...            ...   ...
96     NaN            NaN   NaN
97     NaN            NaN   NaN
98   White            NaN     F
99     NaN            NaN   NaN
100    NaN            NaN   NaN

[92 rows x 20 columns]

In [13]:
census2020_df.loc[96:100]

,first_name,last_name,age,date_of_birth,address,zipcode,relation_to_household_head,sex,race_ethnicity,middle_initial
96,Charles,Weller,6.876754,2013-05-16,"5266 shady rd orange city, fl",32763,Biological child,Male,White,C
97,Jack,Ramer,5.364297,2014-11-20,"5266 shady rd orange city, fl",32763,Biological child,Male,White,B
99,Martha,Wright,71.576151,1948-09-03,"1043 w atherton rd ocala, fl",34481,Reference person,Female,White,I
100,Ruth,Susan,86.995224,1933-04-03,"926 forestwood dr cocoa, fl",32926,Reference person,Female,White,M

In [14]:
15.406734-5.364297

10.042437

In [15]:
16.919191-6.876754

10.042437000000001

In [16]:
12*.04243700000000

0.509244