In [1]:
import pandas as pd, numpy as np

In [2]:
df = pd.DataFrame({
    'foo': range(10_000),
    'bar': ["a", "b", "c", "d", "e"] * 2_000,
    'counter': 0,
})
df

       foo bar  counter
0        0   a        0
1        1   b        0
2        2   c        0
3        3   d        0
4        4   e        0
...    ...  ..      ...
9995  9995   a        0
9996  9996   b        0
9997  9997   c        0
9998  9998   d        0
9999  9999   e        0

[10000 rows x 3 columns]

In [3]:
df.to_csv('input_file_1.csv', index=False)
df.to_parquet('input_file_1.parquet')

In [4]:
df2 = pd.DataFrame({
    'foo': range(10_000, 20_000),
    'bar': ["f", "g", "h", "i", "j"] * 2_000,
    'counter': 0,
})
df2

        foo bar  counter
0     10000   f        0
1     10001   g        0
2     10002   h        0
3     10003   i        0
4     10004   j        0
...     ...  ..      ...
9995  19995   f        0
9996  19996   g        0
9997  19997   h        0
9998  19998   i        0
9999  19999   j        0

[10000 rows x 3 columns]

In [5]:
df2.to_csv('input_file_2.csv', index=False)
df2.to_parquet('input_file_2.parquet')